<div class="visible-comp">
  <div *ngIf="product" style="width: 100%; height: 100%;">
    <p class="title">{{ product.name }}</p>
    <div style="width: 100%; height: 100%; display: inline-flex; text-align: center;">
      <div style="width: 45%;">
        <img src={{product.image}} width="300px" height="400px">
      </div>
      <div style="width: 45%; padding: 30px; text-align: start;">
        <br>
        <div style="margin-bottom: 10px; font-size: 20px;">
          <b>Description: </b> {{product.description}}
        </div>
        <div style="margin-bottom: 10px; font-size: 20px;">
          <b>Total Amount: </b> {{product.total}}
        </div>
        <div style="margin-bottom: 10px; font-size: 20px;">
          <b>Price: </b> {{product.price | currency}}
        </div>
        <div>
          <button class="btn btn-secondary btn-sm" (click)="addToCart(product)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
