.about{
  margin: 2%;
  font-size: 150%;
  font-weight: bold;
}
p{
  text-transform: uppercase;
	background: linear-gradient(to right, #9a56ee 0%, rgb(76, 199, 152) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-family: 'Poppins', sans-serif;
  background-clip: text;
}
