<div class="nav-bar">
  <div class="button-list">
    <div class="button-group" style="margin-left: 9%;">
      <button class="btn btn2 btn-secondary hover" routerLink="/home">Home</button>
      <button class="btn btn2 btn-secondary hover" routerLink="/products">Shop</button>
      <button class="btn btn2 btn-secondary hover" routerLink="/about">About</button>

    </div>
    <div class="button-group">
      <app-search></app-search>
      <div class="dropdown cart-button btn2" style="margin-right: 9%;">
        <div class=" btn-secondary btn btn3 hover" style="text-align: center; width: 100%;">
          <div *ngIf="total.items > 0" style="padding-left: 20%;  display: inline-flex; width: 100%; white-space: nowrap;">
            <div>
              Cart has
            </div>
            <div style="margin-left: 15%; padding-right: 1%;">
              {{total.items}}
            </div>
          </div>
          <div *ngIf="total.items <= 0" style="white-space: nowrap;">
            <div>
              Cart is empty
            </div>
          </div>
        </div>
        <div *ngIf="items">
          <div *ngIf="items.length > 0 && visible" class="dropdown-content dropdown-menu-right dropdown-menu">
            <div *ngFor="let item of items">
              <div  class="menu-box">
                <div [routerLink]="['/products', item.id]" style="cursor: pointer;">
                  <p>{{item.name}}</p>
                </div>
                <div style="position: absolute; right: 0; margin-right: 5%; display: inline-flex;">
                  <h6 style="font-size: 14px;">Price: {{item.price * item.amount | currency}}</h6>
                  <div style="margin-left: 10px;">
                    <button class="btn-secondary btn-small" (click)="remove(item)">-</button>
                    <button disabled class="btn-secondary btn-small">{{item.amount}}</button>
                    <button class="btn-secondary btn-small" (click)="add(item)">+</button>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div style="margin: 5px; width: 100%; display: inline-flex;">
              <div>
                <p>
                  Total Price: {{total.price | currency}}
                </p>
              </div>
              <div style="position: absolute; right: 0; margin-right: 20px;">
                <button class="btn-secondary btn-sm btn" st routerLink="/cart">Check Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
