.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-height: 0;
  max-height: 200px;
  box-shadow: 0px 2px 4px 0px rgba(32, 24, 24, 0.2);
  z-index: 1;
  overflow-y: scroll;
  cursor: pointer;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
