<app-nav-bar></app-nav-bar>
<div class="visible-comp" style="width: 80%; margin-right: 10%; margin-left: 10%; height: 100%;">
  <p style="font-size: 50px; font-weight: bold; text-align: center;">Checkout</p>
  <hr>
  <div style="display: inline-flex; width: 100%; height: 100%;">
    <div style="width: 50%;">
      <table class="table">
        <thead class="table-secondary">
          <tr>
            <th>
              <p>Name</p>
            </th>
            <th>
              <p>Amount</p>
            </th>
            <th>
              <p>Price</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <th>
              <p>{{item.name}}</p>
            </th>
            <th>
              <p>{{item.amount}}</p>
            </th>
            <th>
              <p>{{item.amount* item.price | currency}}</p>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="text-align: end; width: 50%; margin-left: 5%;">
      <app-generic-from></app-generic-from>
    </div>
  </div>
</div>
